
<!DOCTYPE html>
<html ng-app="LunchCheck">
<head>

	<script src="angular.min.js"> </script>
	<script src="app.js"> </script>

<title>Lunch Checker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles/bootstrap.min.css">
	<style>

  	.message{font-size: 1.3em;font-weight:bold;}
 	 </style>

</head>
<body><h1>Lunch Check</h1>
  <div ng-controller='myFirstController'>
    <div>
    Item Names:  <input type="text" ng-model="itemname" placeholder="list comma separated dishes for lunch">
  </div>
  <div>  <button ng-click="calculateitem()">Check If Too Much</button>
    <br>
{{result}}

  </div>
  </div>
</body>
</html>
