<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet">

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="NarrowItDownApp">
    <div class="container">

      <div ng-controller="NarrowItDownController as ctrl">
        <h1>Narrow Down Your Chinese Menu Choice</h1>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="search term"
          ng-model="ctrl.searchTerm" autofocus />
        </div>

        <div class="form-group">
          <button class="btn btn-primary" ng-click="ctrl.getMatchedMenuItems()">
            Narrow It Down for Me
          </button>
        </div>

        <found-items found-items="ctrl.found" on-remove="ctrl.removeItem(index)"
             noresults="ctrl.noresults">
        </found-items>
      </div>

    </div>
  </body>
</html>
